
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&family=Poppins&display=swap');
*{
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("./snow.jpeg");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.countdown-container{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    
}

h1{
    font-weight: normal;
    font-size:4rem;
    margin-top:5rem;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}
